---
layout: default
title: Ankit Gupta's Blog
pagination:
  enabled: true
---

{% comment %}
{% include pagination-newer.html %}
{% endcomment %}

{% for post in site.posts %}
<article class="post-excerpt">
  <h2 class="post-title">
    <a href="{{ site.baseurl }}{{ post.url }}">
      {{ post.title }}
    </a>
  </h2>

  {% include post-meta.html post=post %}

  <div class="post-content">
    {{post.excerpt}}
    <a href="{{ site.baseurl }}{{ post.url }}">More &hellip;</a>
  </div>
</article>
{% endfor %}

{% comment %}
 {% include pagination-older.html %}
{% endcomment %}
