<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Ankit Gupta's personal website, my portfolio, and blog where I share my thoughts and opinions on all-things software">
  <title>
    {{ site.title }}
  </title>

  {% include google-analytics.html %}

  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/master.css" />

  {% include favicons.html %}

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
</head>
