{% assign pages_list = site.pages %}

<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Ankit Gupta</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item {% if page.title == 'Blog' %} active{% endif %}">
              <a class="nav-link" href="/blog">Blog</a>
            </li>

            {% for node in pages_list %}
              {% if node.title != null %}
                {% if node.nav_link %}
                <li class="nav-item {% if page.url == node.url %} active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}


            <li class="nav-item">
              <a class="nav-link" href="{{site.url}}/assets/documents/resume.pdf" target="_blank">Resume</a>
            </li>
          </ul>

          <form class="form-inline" action="http://www.google.com/search" method="get" name="searchform" target="_blank">
            <input name="sitesearch" type="hidden" value="ankit-gupta.com">
            <input class="form-control mr-sm-2" type="search" placeholder="Search in ankit-gupta.com" aria-label="Search" placeholder="Search in ankit-gupta.com" required="required" type="search" autocomplete="on" >
            <button class="btn" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
</header>
