{% comment %}
  Check if we have a tags page active before linking to it.
{% endcomment %}
{% assign tags_page = false %}
{% for node in site.pages %}
  {% if node.layout == "tags" %}
    {% assign tags_page = node %}
  {% endif %}
{% endfor %}

<div class="post-tags">
  {% for tag in include.post.tags %}
    {% if tags_page %}
      <span class="tag-name">{{ tag }}</span>
    {% else %}
      <span class="tag-name"><a href="{{ site.baseurl }}{{ tags_page.url }}#{{ tag | slugify }}">{{tag}}</a></span>
    {% endif %}
    {% if tags_page %}</a>{% else %}</span>{% endif %}
  {% endfor %}
</div>