<div class="social">
  <ul class="social">
    {% if site.twitter_username %}
    <li class="social-item">
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <i class="fa fa-lg fa-twitter"></i>
      </a>
    </li>
    {% endif %}

    {% if site.linkedin_username %}
    <li class="social-item">
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
        <i class="fa fa-lg fa-linkedin"></i>
      </a>
    </li>
    {% endif %}

    {% if site.github_username %}
    <li class="social-item">
      <a href="https://github.com/{{ site.github_username }}">
        <i class="fa fa-lg fa-github"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
