<div class="side-section">
  <div data-target="newsletter">
    <h6>Subscribe!</h6>
    <span id="subscribe-status"></span>
    <span>Subscribe to know when new posts appear!</span>
    <form>
      <input type="text" name="email"/>
      <input type="hidden" name="source" value="a20165e5-ddf3-4c1c-b54b-eee9b6dba344" />
      <input type="button" value="Subscribe!" name="subscribeBtn"/>
    </form>
  </div>
</div>
<script type="text/javascript">
  (function(){
    let btn = document.querySelector("div[data-target='newsletter'] input[name='subscribeBtn']");
    let email = document.querySelector("div[data-target='newsletter'] input[name='email']");
    let source = document.querySelector("div[data-target='newsletter'] input[name='source']");
    btn.addEventListener('click', function(){
      let url = "https://nusefeed.com/subscriptions";
      let data = {
        email: email.value,
        source: source.value
      };
      fetch(url, {
        method: 'POST',
        mode: 'cors',
        cache: 'no-cache',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then(res => res.json())
      .then(function(res){
        let status = document.querySelector("#subscribe-status");
        status.innerHTML = "You are now subscribed!";
      })
    })
  })();
</script>    