// Required rules copied from the Hydeout theme

.center {
  margin: 0 auto;
  text-align: center;
}

.site-title {
  padding-top: 10px;
}

.site-subtitle {
  color: lightgray;
}

.fill-background {
  background-color: lighten($primary-color, 90);
}

ul.inline-list {
  list-style: none;
  display: inline-block;

  li {
    display: inline-block;
    padding: 20 20;
  }
}

header {
  padding-bottom: 30px;

  div.title {
    color: white;
    padding-bottom: 30px;
    background-image: url('/assets/images/header-background.jpg');
    background-size: cover;
  }
}


.navbar-light .navbar-nav .active >.nav-link {
  color: $primary-color;
}

.navbar-light .navbar-nav li >.nav-link {
  color: $primary-color-light;
}

.side-section {
  color: $primary-color;
}

.side-section {
  padding-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;

  .section-title {
    padding: 0;
    margin: 0;
  }
}

.side-section::after {
  content: "";
  border-bottom: 1px solid lighten(black, 50);
  width:60%;
  display:block;
  margin:0 auto;
}

.side-section ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.post-sidebar {
  padding-bottom: 5px;

  .post-date {
    padding: 0;
    margin: 0;
  }

  .post-title {
    padding: 0;
    margin: 0;
  }
}

.search-form {
  .form-group {
    margin-bottom: .5rem;
  }
}

.btn-custom {
  background-color: lighten($primary-color, 20);
  color: white;
}

a {
  color: lighten($primary-color, 20);
}

.navbar-custom {
  padding-top: 50px;

  ul {
    li {
      font-size: 20px;
    }

    li.active {
      border-radius: 2px;
      a {
        font-weight: bold;
      }
    }
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
  height: auto; // Fix to keep max-width from squishing images with defined
                // height in HTML
}

img.img-center {
  margin: auto;
}
