header {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-tenplate-areas: 'title navbar';
  height: 50px;
  background-color: map-get($colors, "running-bg");
  color: map-get($colors, "running-fg");
}

header .title {
  width: $page-width;
  margin: auto;
  grid-area: 'title';
}

header .navbar {
  grid-area: 'navbar';
}
