
main .main-grid {
  padding-top: 20px;
  display: grid;
  width: $page-width;

  grid-template-columns: 8fr 2fr;
  grid-template-areas: 'main aside';
  margin: auto;
  grid-column-gap: 20px;
}

main .main-grid .content {
  grid-area: main;
  overflow: hidden;
}

main .main-grid .aside {
  grid-area: aside;
  overflow: hidden;
}
