<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="">
    
    {% include header.html %}

    <div class="main-wrapper">
      <main>
        <article class="post">
          <h2 class="post-title">{{ page.title }}</h2>
        
          {% include post-tags.html post=page %}
        
          <div class="post-content">
              {{ content }}
          </div>
        </article>        
      </main>

      <div class="sidebar">
        {% include subscribe.html %}

        {% include related_posts.html %}
      </div>
    </div>
    
    {% include footer.html %}
  </body>
</html>

